$black: #030303;
$green: #7be3cb;
$purple: #7a63b2;
$white: #ffffff;
$red: #ff8080;
$background: $black;
$foreground: $white;
$primary: $green;
$secondary: $purple;
$error: $red;
$font-stack: 'Inter', sans-serif;
$font-size: 15px;
$thin: 100;
$bold: 600;
$line-height: 1.3em;
$GU: 8px;
